@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-zinc-900 text-zinc-100;
}

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
